.lg-create-post{
    .lg-create-post-topic,.lg-create-post-agegrp{
        width: 40%;
        margin-right: 5%;
    }
}

.lg-create-post-submit{
    width: 100%;
    margin-top : 10%;
    float: left;
}