.sidebar__tweet {
    background-color: var(--twitter-color) !important;
    border: none !important;
    color: white !important;
    font-weight: 700 !important;
    text-transform: inherit !important;
    border-radius: 20px !important;
    height: 50px !important;
    margin-top: 20px !important;
}
.sidebar {
    border-right: 1px solid var(--twitter-color);
    flex: 0.25;
    min-width: 250px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.leftpanel-option {
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 30px;
}
.leftpanel-option:hover {
    background-color: #e8f5fe;
    color: var(--twitter-color);
    transition: color 100ms ease-out;
}
.leftpanel-option > .MuiSvgIcon-root {
    padding: 20px;
}
.leftpanel-option > h2 {
    font-weight: 700;
    font-size: 20px;
    margin-right: 20px;
}
.leftpanel-option--active {
}
